{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Get Jacked!</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name="form_submit">Update Information</button>
            </div>
            {% if calories %}
                <div>
                    Daily Calories: {{calories}} --
                    Daily Carbohydrates: {{carbs}} --
                    Daily Fats: {{fats}} --
                    Daily Protein: {{protein}} --
                    Activity Level: {{activity}} --
                    Starting Weight: {{startingWeight}} -- 
                    Goal Weight: {{goalWeight}} --
                </div>
            {% endif %}
            {% if currWeight %}
                <div>
                    Current Weight: {{currWeight}} 
                </div>
            {% endif %}
        </form>
        <div class="border-top pt-3">
        </div>
    </div>
{% endblock content %}